* {
  box-sizing: border-box;
}

.body {
  font-family: 'Nunito',sans-serif;
  line-height: 1.5;
  margin: 0;
  /* color: ; */
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;

}

#company-name {
  color: #dec9e9;
  font-size: 1.5rem;

}

#header {
  background-color: 000;
}

nav ul li a:link,
nav ul li a:visited {
  color:#dec9E9;
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a:focus {
  color: #fff;
}

#hero-banner {
  height: 60vh;
  max-width: 100%;
  background-color: #7251b5;
  background-image: url(../images/ice-cream-cones.jpg);
}


/* headings - come back to this */